# App
NODE_ENV="development"

# Your database connection.
# Local example: postgresql://postgres:postgres@localhost:5432/myapp
DATABASE_URL=""

# App URL — change this when deploying.
NEXTAUTH_URL="http://localhost:3000"

# Just put any random secret here.
# For a real project, use something long and random.
AUTH_SECRET="secret"

TELEGRAM_WEBHOOK_SECRET="secret"
TELEGRAM_BOT_TOKEN=""
